{% extends 'base.html.twig' %}

{% block title %}Ajouter un employe{% endblock %}

{% block body %}

    <h1 CLASS="text-center my-4">Ajouter un employé dans l'annuaire</h1>

{{form(form_employe)}}{% endblock %}    